* {
	font-family: "montserrat", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	#root {
		height: 100%;
		width: 100%;
		.app {
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			background-image: url("../assets/img/cloudy.jpg");
			background-position: bottom;
			background-repeat: no-repeat;
			background-size: cover;
			main {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 40px;
				.search-box {
					margin-bottom: 20px;
					input {
						background-color: rgba(255, 255, 255, 0.495);
						border: none;
						border-radius: 20px;
						padding: 1rem;
						text-align: center;
						&::placeholder {
							color: black;
							opacity: 1;
							border: none;
						}
						&:focus {
							outline: none !important;
						}
					}
				}
				section {
					.location-box {
						.location {
							font-size: 3rem;
							text-align: center;
							font-weight: 700;
							text-shadow: 1px 3px rgba(202, 202, 202, 0.5);
						}
						.date {
							font-size: 1rem;
							text-align: center;
							font-weight: 700;
						}
					}
					.weather-box {
						margin-top: 20px;
						background-color: rgba(255, 255, 255, 0.495);
						padding: 40px;
						border-radius: 20px;
						.temp {
							font-size: 6rem;
							text-align: center;
							font-weight: 900;
							text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
						}

						.weather {
							font-size: 4rem;
							text-align: center;
							text-shadow: 1px 3px rgba(50, 50, 70, 0.5);
						}
					}
				}
			}
		}
	}
}

.warm {
	background-image: url("../assets/img/warm.jpg") !important;
}
